# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
.ruff_cache/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage

# Environment
.env
*.env.local

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp

